/* Default Elements Styles
   This file contains base styling for all default HTML elements */

a, span, button { /* for best control when used element */
    display: inline-block;
    cursor: pointer;
}

svg {
    margin: 0;
    padding: 0;
}
